/* --wintergreen-dream: #679289ff;
--eggshell: #edebd7ff;
--blood-red: #6e0e0aff;
--prussian-blue: #0b3954ff;
--dark-orange: #f58f29ff; */
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Roboto&display=swap');

#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
}

* {
  user-select: none;
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url('../public/cloud-unsplash.jpg');
  background-attachment: fixed;
}

.app {
  overflow: hidden;
}


.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-family: 'Goldman', display;
  color: #0b3954ff;
  text-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
}

h2 {
  color: #0b3954ff;
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 350px;
  margin: .5em;
}

img {
  margin: 10px;
  border-radius: 20px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #f58f29ff;
}

.date {
  font-size: 95%;
}

.title {
  display: block;
  position: relative;
  font-size: 5em;
  margin: auto;
}

.navButtons li {
  list-style: none;
  display: inline-block;
  margin: 0 30px 5px 0px;
}

.navButtons {
  margin: 0;
  align-items: center;
}

.navButtons button {
  background-color: #0b3954ff;
  color: #edebd7ff;
  border: 1px solid #0b3954ff;
  border-radius: 5px;
  padding: 5px;
}

.card {
  position: relative;
  background-color: #edebd7ff;
  width: 80vw;
  max-width: 260px;
  height: 380px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  font-family: 'Roboto', sans-serif;
  bottom: 0;
  margin: 10px;
  color: #0b3954ff;
}

h3 {
  color: #0b3954ff;
}

.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #0b3954ff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.toggle {
  margin: 4em;
  padding: 1em;
  font-size: 24;
  font-family: 'Roboto', sans-serif;
  display: block;
  background-color: #0b3954ff;
  border: 1px solid #0b3954ff;
  border-radius: 20px;
  color: #edebd7ff;
}

.wrapper {
  padding: 5%;
}

.listCard {
  background-color: #edebd7ff;
  margin: 10px;
  position: relative;
  width: 180vw;
  max-width: 500px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  font-size: 80%;
}
.comparison {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.aLink {
  text-decoration: none;
}

.form {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  background-color: #edebd7ff;
  padding: 1.5em;
  margin-top: 10px;
  border-radius: 20px;
}

.form p {
  color: #0b3954ff;
  margin-top: 0;
}

.form input {
  display: block;
  border-radius: 5px;
  background-color: #edebd7ff;
  border: 1px solid #f58f29ff;
  color: #0b3954ff;
  font-size: .8em;
  margin: .1em;
}

.form label {
  display: block;
  color: #0b3954ff;
  margin: auto;
}

.form button {
  background-color: #0b3954ff;
  color: #edebd7ff;
  border: 1px solid #0b3954ff;
  border-radius: 5px;
  padding: 5px;
  font-size: 1em;
  margin-top: 5px;
}

.form #one_way {
  display: inline;
  padding: 5px;
  margin: 5px;
}

.form #round_trip {
  display: inline;
  padding: 5px;
  margin: 5px;
}

.radioLabel {
  display: inline;
  margin-right: 5px;
}

.aLink button{
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-size: 2em;
  display: block;
  margin: auto;
  padding: 5px;
  border: 1px solid #0b3954ff;
  border-radius: 5px;
  text-align: center;
  background-color: #0b3954ff;
  color: #edebd7ff
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}