/* --wintergreen-dream: #679289ff;
--eggshell: #edebd7ff;
--blood-red: #6e0e0aff;
--prussian-blue: #0b3954ff;
--dark-orange: #f58f29ff; */
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Roboto&display=swap');

#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

* {
  user-select: none;
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url('../public/cloud-unsplash.jpg');
}

.app {
  overflow: hidden;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-family: 'Goldman', display;
  color: black;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

h2 {
  color: black;
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 350px;
  margin: .5em;
}

img {
  margin: 10px;
}

.date {
  font-size: 95%;
}

.title {
  display: block;
  position: relative;
  font-size: 5em;
  margin: auto;
}

.navButtons li {
  list-style: none;
  display: inline-block;
  margin: 0 5px 5px 0;
}

.navButtons {
  margin: 0;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 350px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: black;
}



.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: black;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}
